.sideview {
    width: 750px;
    margin: 0 auto;
    display: flex;
    position:relative;
    top:150px;
    right:250px;
  }
  .sideview .nav {
    width: 150px;
    height: 40px;
    margin: 0;
  }
  .sideview .nav li {
    width: 150px;
    height: 40px;
    text-align: center;
    list-style: none;
  }
  .sideview .nav li a {
    display: block;
    width: 150px;
    height: 40px;
    background: #9fb7d4;
    color: #fff;
    font-size: 14px;
    line-height: 2.8;
    text-decoration: none;
    border-top: 1px solid #eee;
    box-sizing: border-box;
  }
  .sideview .nav > li:hover > a {/*layer-1*/
    color: orange;
    background: #afc6e2;
  }
  .sideview .nav li ul {
    width: 150px;
    display: none;
    position: relative;
    top: -40px;
    left: 110px;
  }
  .nav > li li:hover > a {/*layer-2*/
    color: olive;
    background: #afc6e2;
  }
  /* .sideview .container {
    width: 600px;
    height: 250px;
    background: #eee;
    padding: 10px;
    box-sizing: border-box;
  } */

  .categorybox {
    display: flex; 
    justify-content: center;             /* フレックスボックスにする */
}

.fot{
  flex-basis: 200px;
}

.drinktype{
  display: flex; 
  justify-content: flex-end;
}

.drinktype a,span{
  font-size: 20px;
}
